@import "./../../index.css";

.center-icon {
    height: 24px;
}

.authFooter {
    /* #widget, */
    background: rgba(255, 255, 255, 0.1);
}

.widget-artist-name,
.widget-song-name {
    white-space: nowrap;
    /*min-width: 4rem;*/
}

.widget-song-name {
    font-weight: bold;
}
